<main class="container">
    <h1>Burger Time!</h1>

    <div class="container" id="burger-menu">
        <div class="row">
            <div class="col-5">
                <div class="container" id="burger-list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <div class="row" data-burger="burger{{id}}">
                        <div class="col-10">
                            <p>{{burger_name}}</p>
                        </div>
                        <div class="col-2">
                            <button type="button" class="eat btn btn-danger btn-sm" data-eaten={{devoured}} data-id={{id}}>Eat!</button>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="col-2">
                <img src="/assets/images/chef.png" id="chef" class="img-fluid" alt="Burger Time Chef, Peter Pepper" />
            </div>
            <div class="col-5">
                <div class="container" id="burgers-eaten">
                    {{#each burgers}}
                    {{#if devoured}}
                    <div class="row">
                        <div class="col-2">
                            <button type="button" class="make btn btn-warning btn-sm" data-eaten={{devoured}} data-id={{id}}>Make</button>
                        </div>
                        <div class="col-10">
                            <p>{{burger_name}}</p>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>


    <h3>Add a Burger.</h3>

    <form>
        <div class="form-group">
            <input class="form-control" id="textbox" rows="1"></input>
            <button type="submit" id="submit-burger" class="btn btn-primary">Submit</button>
        </div>
    </form>

</main>

<!-- Setup the `index.handlebars` to have the template that Handlebars can render onto. -->

<!-- Create a button in `index.handlebars` that will submit the user input into the database. -->