<main class="container">
    <h1>Burger Time!</h1>

    <div class="container" id="burger-menu">
        <div class="row">
            <div class="col-5">
                <div class="container" id="burger-list">
                    <!-- Loops through all burger results -->
                    <!-- If devoured is false, will add items to the to be eaten column -->
                    {{#each burger}}
                    {{#unless devoured}}
                    <div class="container">
                        <div class="row" data-burger="burger{{id}}">
                            <div class="col-12">
                                <p>{{burger_name}}</p>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <form>
                                        <div class="form-group customer">
                                            <input class="form-control form-control-sm" id="customer{{id}}" rows="1"></input>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-2">
                                    <!-- Adds devoured state and column id to button in order to be passed to ORM -->
                                    <button type="button" class="eat btn btn-danger btn-sm" data-eaten={{devoured}}
                                        data-id={{id}}>Eat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="col-2">
                <img src="/assets/images/chef.png" id="chef" class="img-fluid" alt="Burger Time Chef, Peter Pepper" />
            </div>
            <div class="col-5">
                <div class="container" id="burgers-eaten">
                    <!-- Loops through all burger results -->
                    <!-- If devoured is true, will add items to the to be made column -->
                    {{#each burger}}
                    {{#if devoured}}
                    <div class="row">
                        <div class="col-2">
                            <!-- Adds devoured state and column id to button in order to be passed to ORM -->
                            <button type="button" class="make btn btn-warning btn-sm" data-eaten={{devoured}}
                                data-id={{id}}>Make</button>
                        </div>
                        <div class="col-10">
                            <p class="eaten">{{burger_name}}</p>
                            {{!-- {{#each Customer}} --}}
                            <small>Eaten by <span id="eaten-by">{{Customer.customer_name}}</span></small>
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <h3>Add a Burger.</h3>

    <form>
        <div class="form-group" id="create-burger">
            <input class="form-control" id="textbox" rows="1"></input>
            <button type="submit" id="submit-burger" class="btn btn-primary">Create</button>
        </div>
    </form>
</main>